@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  width: 100vw;
  height: 100vh;
  background:
    /* top, transparent black, faked with gradient */
    linear-gradient(90deg, rgb(0, 0, 0),
      rgba(0, 0, 0, 0)),
    /* bottom, image */
    url("./bb_bg.jpg");
  background-position: center;
  background-size: cover;
}